extends ./layout.jade

block vars
  - var title = '登录 - WeiHub'
  - var nav = 'auth'

block content
  .container
    p 使用社交账号登录：
    p
      a.btn.btn-default(href='/auth/redirect/weibo?path=' + path)
        img(src='http://c.weihub.com/images/weibo@2x.png', width='32', height='32')
      | &nbsp; 
      a.btn.btn-default(href='/auth/redirect/qq?path=' + path)
        img(src='http://c.weihub.com/images/qq@2x.png', width='32', height='32')
      | &nbsp; 
      a.btn.btn-default(href='/auth/redirect/github?path=' + path)
        img(src='http://c.weihub.com/images/github@2x.png', width='32', height='32')
      | &nbsp; 
      a.btn.btn-default(href='/auth/redirect/instagram?path=' + path)
        img(src='http://c.weihub.com/images/instagram@2x.png', width='32', height='32')