extends ./layout.jade

block vars
  - var title = 'Man From Outer Space'

block content
  .container
    .jumbotron
      h1 你好，世界
      p
        code.label.label-primary(title='javascript') alert('Hello, world');
      p
        code.label.label-success(title='php') echo 'Hello, world';
      p
        code.label.label-info(title='html') &lt;p&gt; Hello, world &lt;/p&gt;
      p
        code.label.label-warning(title='css') .hello-world { color: #f93; }
  #running-car
    script.
      (function(){
        if (document.createElementNS && document.createElementNS('http://www.w3.org/2000/svg', 'svg').createSVGRect) {
          var img = new Image();
          img.src = '//c.weihub.com/images/run.svg';
          img.setAttribute('width', '100%');
          document.getElementById('running-car').appendChild(img);
        }
      })();