.container
  .jumbotron
    h1 你好，世界
    p.sr-only 我是王沈伟
    p 分享web前沿技术，探索前端最佳实践
  .row
    .col-md-12
      if articleList.length > 0
          ul.media-list.article-list
            each article in articleList
              li.media
                .pull-left.media-profile
                  span.glyphicon.glyphicon-link.text-muted
                .media-body
                  h4.media-heading
                    a.article-title.hijax(href='/article/'+article.uri)= article.title
                    |  
                    small.article-meta.text-muted
                      = article.str_create_time
                      - var tags = article.tags && article.tags.split(',')
                      if tags
                        | ,
                        each tag in tags
                          |  
                          a.text-muted= '#' + tag
                  div= article.summary
                    |  ...
#running-car