extends ./layout.jade

block vars
  - var title = 'Man From Outer Space'

block content
  .container
    .jumbotron
      h1 你好，世界
      p 想起夕阳下的奔跑，那是我逝去的青春
  div
    img(src='//c.weihub.com/images/run.svg', width='100%')