.container
  .row
    .col-md-12
      h2 Thanks to
      ul
        li
          a(href='http://expressjs.com/', target='_blank') Express
          | , 
          a(href='http://nodejs.org/', target='_blank') Node.js
        li
          a(href='http://getbootstrap.com/', target='_blank') Bootstrap
        li
          a(href='http://redis.io/', target='_blank') Redis
          | , 
          a(href='https://github.com/mranney/node_redis', target='_blank') node_redis
        li
          a(href='http://requirejs.org/', target='_blank') RequireJS
        li
          a(href='http://jquery.com/', target='_blank') jQuery
          | , 
          a(href='http://backbonejs.org/', target='_blank') Backbone
          | , 
          a(href='http://underscorejs.org/', target='_blank') Underscore
          | , 
          a(href='http://ricostacruz.com/nprogress/', target='_blank') NProgress
        li
          a(href='http://gulpjs.com/', target='_blank') Gulp
        li
          a(href='https://github.com/petkaantonov/bluebird', target='_blank') Bluebird
          | , 
          a(href='https://github.com/chjj/marked', target='_blank') marked
          | , 
          a(href='http://momentjs.com/', target='_blank') Moment.js
          | , 
          a(href='https://github.com/mikeal/request', target='_blank') request
          | , 
          a(href='http://highlightjs.org/', target='_blank') highlight.js
        li
          a(href='http://jade-lang.com/', target='_blank') Jade
