@import url('bootstrap.min.css');
@import url('hljs-default.css');
@import url('hljs-github.css');

/* navbar collapsing */
/*@media (min-width: 540px) {
  .navbar-header {
    float: left;
  }
}
@media (min-width: 540px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
  }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-y: visible;
  }
  .navbar-fixed-top .navbar-collapse,
  .navbar-static-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 540px) {
  .container > .navbar-header,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}
@media (min-width: 540px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
  }
}
@media (min-width: 540px) {
  .navbar-toggle {
    display: none;
  }
}
@media (min-width: 540px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }
  .navbar-nav > li {
    float: left;
  }
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .navbar-nav.navbar-right:last-child {
    margin-right: -15px;
  }
}
@media (min-width: 540px) {
  .navbar-left {
    float: left !important;
  }
  .navbar-right {
    float: right !important;
  }
}
@media (max-width: 383px) {
  .hidden-xxs {
    display: none !important;
  }
}*/

@font-face {
  font-family: 'Audiowide';
  src: url('../fonts/Audiowide.eot');
  src: url('../fonts/Audiowide.eot?#iefix') format('embedded-opentype'), url('../fonts/Audiowide.woff') format('woff'), url('../fonts/Audiowide.ttf') format('truetype');
}
.font-audiowid,
.navbar-brand {
  font-family: 'Audiowide','Helvetica Neue',Helvetica,Arial,sans-serif;
}
html, body {
  height: 100%;
}
blockquote,
blockquote footer {
  font-size: 100%;
}
.article-meta {
  font-family: Georgia, Cambria, 'Times New Roman', Times, serif;
}
.article-list .media:not(:first-child) {
  margin-top: 25px;
}
.article-list .media > .pull-left {
  margin-right: 15px;
}
.article-list .media-object {
  border-radius: 1000px;
}
.text-code {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
textarea.text-code {
  word-break: break-all;
}
.wrapper {
  min-height: 100%;
  height: auto;
  margin: 0 auto -40px;
  padding: 0 0 60px;
}
.footer {
  background-color: #f5f5f5;
  height: 40px;
  line-height: 40px;
}
.btn-auth {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-size: 32px 32px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 1000px;
}
.btn-auth + .btn-auth {
  margin-left: 8px;
}
.btn-auth:hover {
  border-color: #428bca;
}
.btn-auth-weibo {
  background-image: url(../images/weibo.png);
}
.btn-auth-qq {
  background-image: url(../images/qq.png);
}
.btn-auth-github {
  background-image: url(../images/github.png);
}
.btn-auth-instagram {
  background-image: url(../images/instagram.png);
}
.btn-auth-google {
  background-image: url(../images/google.png);
}
@media (-webkit-min-device-pixel-ratio: 2),(min-resolution: 2dppx) {
  .btn-auth-weibo {
    background-image: url(../images/weibo@2x.png);
  }
  .btn-auth-qq {
    background-image: url(../images/qq@2x.png);
  }
  .btn-auth-github {
    background-image: url(../images/github@2x.png);
  }
  .btn-auth-instagram {
    background-image: url(../images/instagram@2x.png);
  }
  .btn-auth-google {
    background-image: url(../images/google@2x.png);
  }
}
.media-profile {
  background-color: #eee;
  border-radius: 1000px;
  overflow: hidden;
}
.media-profile > .glyphicon {
  display: block;
  font-size: 40px;
  line-height: 1;
  text-align: center;
  width: 40px;
  height: 40px;
  margin: 12px;
}
.comment-btns {
  padding-bottom: 8px;
  position: relative;
}
.comment-btns .col-auth {
  position: absolute;
}
.comment-btns .col-name {
  margin: 0 70px 0 230px;
}
.comment-btns .col-submit {
  position: absolute;
  top: 0;
  right: 0;
}
.comment-btns .btn-auth {
  margin-top: -7px;
}
.comment-btns-signed .col-submit {
  margin-top: 10px;
  position: static;
}
.comment-btns-signed .col-submit > .text-muted {
  display: none;
}
@media (max-width: 767px) {
  .comment-btns .col-submit,
  .comment-btns .col-auth {
    position: static;
  }
  .comment-btns .col-name {
    margin: 0;
  }
  .comment-btns .col-submit {
    margin-top: 10px;
  }
  .col-submit > .text-muted {
    display: none;
  }
}