@import url('bootstrap.min.css');
@import url('hljs-default.css');
@import url('hljs-github.css');

/* navbar collapsing */
@media (min-width: 320px) {
  .navbar-header {
    float: left;
  }
}
@media (min-width: 320px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
  }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-y: visible;
  }
  .navbar-fixed-top .navbar-collapse,
  .navbar-static-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 320px) {
  .container > .navbar-header,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}
@media (min-width: 320px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
  }
}
@media (min-width: 320px) {
  .navbar-toggle {
    display: none;
  }
}
@media (min-width: 320px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }
  .navbar-nav > li {
    float: left;
  }
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .navbar-nav.navbar-right:last-child {
    margin-right: -15px;
  }
}
@media (min-width: 320px) {
  .navbar-left {
    float: left !important;
  }
  .navbar-right {
    float: right !important;
  }
}
@media (max-width: 383px) {
  .hidden-xxs {
    display: none !important;
  }
}

@font-face {
  font-family: 'Audiowide';
  src: url('../fonts/Audiowide.eot');
  src: url('../fonts/Audiowide.eot?#iefix') format('embedded-opentype'), url('../fonts/Audiowide.woff') format('woff'), url('../fonts/Audiowide.ttf') format('truetype');
}
.navbar-brand {
  font-family: 'Audiowide','Helvetica Neue',Helvetica,Arial,sans-serif;
}
html, body {
  height: 100%;
}
blockquote,
blockquote footer {
  font-size: 100%;
}
.article-meta {
  font-family: Georgia, Cambria, 'Times New Roman', Times, serif;
}
.article-list .media:not(:first-child) {
  margin-top: 25px;
}
.article-list .media > .pull-left {
  margin-right: 15px;
}
.article-list .media-object {
  border-radius: 1000px;
}
.text-code {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
textarea.text-code {
  word-break: break-all;
}
.jumbotron p {
  font-size: 18px;
}
.wrapper {
  min-height: 100%;
  height: auto;
  margin: 0 auto -40px;
  padding: 0 0 60px;
}
.footer {
  height: 40px;
  background-color: #f5f5f5;
}
.footer footer {
  line-height: 40px;
}
footer .pull-left a {
  margin-left: 0.5em;
}
