extends ../layout.jade

block vars
  - var title = article.title + ' - WeiHub'
  - var nav = 'article'

block content
  .container
    .row
      .col-md-8.col-md-offset-2.article-container
        h1.article-title= article.title
        p.text-muted
          = article.str_create_time
          | , 
          a.text-muted @Wang
          |  
          - var tags = article.tags && article.tags.split(',')
          if tags
            each tag in tags
              | &nbsp;
              a.text-muted= '#' + tag
          if user && user.admin
            | &nbsp;
            a.btn.btn-xs.btn-default(href='/article/edit/' + article.uri)
              span.glyphicon.glyphicon-edit
              |  编辑
        .article-content!= article.html
