extends ../layout.jade

block vars
  - var title = '文章列表 - WeiHub'
  - var nav = 'article'

block content
  .container
    .row
      .col-md-8.col-md-offset-2
        if list.length > 0
          ul.media-list.article-list
            each article in list
              li.media
                a.pull-left
                  //- img.media-object(src='http://c.weihub.com/images/me@2x.jpg', width='64', height='64')
                  img.media-object(src='data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIj48L3JlY3Q+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+', width='64', height='64')
                .media-body
                  h4.media-heading
                    a.article-title(href='/article/'+article.uri)= article.title
                    |  
                    small.text-muted
                      = article.str_create_time
                      | , 
                      a.text-muted @Wang
                      |  
                      - var tags = article.tags && article.tags.split(',')
                      if tags
                        each tag in tags
                          | &nbsp;
                          a.text-muted= '#' + tag
                    //- small.pull-right
                    //-   a.text-muted(href='/article/'+article.uri+'#comments')
                    //-     span.glyphicon.glyphicon-comment
                    //-     |  (1)
                  div!= article.summary
                    |  ...
        else
          .well 还没有文章~
        if user && user.admin
          div(style='margin-top:20px')
            a.btn.btn-sm.btn-default(href='/article/edit')
              span.glyphicon.glyphicon-pencil
              |  写文章