extends ../layout.jade

block vars
  - var title = '请求出错了'

block content
  .container
    .alert.alert-warning
      strong= '请求出错了！'
      = error.name + ' : ' + error.message
      |  
      a.btn.btn-xs.btn-link(href='/')
        span.glyphicon.glyphicon-home
        |  返回首页
    if DEV
      pre= error.stack