extends ../layout.jade

block vars
  - var title = '系统出错了'

block content
  .container
    .alert.alert-danger
      strong= '系统出错了！'
      = error.name + ' : ' + error.message
      |  
      a.btn.btn-xs.btn-link(href='/')
        span.glyphicon.glyphicon-home
        |  返回首页
    if DEV
      pre= error.stack